html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 20px auto -179px;
    padding: 0 0 179px;
}

.wrap > .container {
    padding: 0 15px 20px;
}

.header {
    margin:5px 0 20px;
}

.header .text {
    margin-top:20px;
}

.footer {
    height: 179px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

h1 {
    font-size:30px;
}
h2 {
    font-size:20px;
}
h3 {
    font-size:18px;
}
.clr {
    clear:both;
}
.required label:after {
    content:"*";
}
ul {
    list-style: none;
    padding-left:0;
}
.search-form {
    padding:10px;
    background: #5891bd;
}
.search-form p {
    color:#fff;
}
.search-form .create-link {
    color: #ffea00;
}
.select2-selection.select2-selection--single {
    height:34px;
    padding:3px 0;
}
.trips-list-item {
    border-bottom: #ddd 2px solid;
    background: linear-gradient(#fff, #f6f6f6);
}
.looking-for {
    margin-top:10px;
}
.trip-header {
    border-bottom:#ccc 1px dashed;
}
.trip-date {
    color:#777;
    font-size:17px;
}
.trip-title {
    font-size:18px;
}
.trip-ul li {
    float:left;
    margin-right:20px;
}
.trip-icons {
    /*margin-left: 10px;*/
    font-size:15px;
    color:#555;
}
.trip-icon {
    width:25px;
    float:left;
    clear:none;
}
.trip-description {
    margin-bottom:0;
    margin-top:5px;
    font-size:13px;
}
.user-avatar {
    border-radius:50%;
}
.avatar {
    width:50px;
}
.trip-history .trip-icon {
    float:left;
    width:40px;
    font-size:22px;
    color: #aaa;
}
.trip-history .trip-date {
    font-size:15px;
}
.trip-history .trip-details {
    float:left;
    font-size:14px;
    max-width:320px;
}
.trip-history-link {
    font-size:15px;
}
.trip-history-item {
    border-bottom:2px solid #ddd;
    padding-bottom:5px;
    margin-bottom:10px;
}
.trip-history-item p {
    margin-bottom:0;
}

.big-banner {
    background-image: url('/img/form_background_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 290px;
}
.jumbotron {
    margin-bottom: 0px;
}
.vert-margin10 {
    margin-bottom: 10px !important;
}

.vert-margin20 {
    margin-bottom: 20px !important;
}

.vert-margin30 {
    margin-bottom: 30px !important;
}

.vert-margin40 {
    margin-bottom: 40px !important;
}
.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.home-title {
    color: #000000;
    text-shadow: 0px 0px 8px white;
    font-weight: bold;
}